* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  text-decoration: none !important;
  list-style: none;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  transition: all 0.5s;
}

.menu li:hover {
  color: brown;
}

.main-header {
  padding: 1rem 0;
}

label {
  width: 100%;
}

/* Swiper */

.swiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Partitions */
.placeholder-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  border-radius: 8px;
}
